body{
	font-family: 'Playfair Display', serif;
}


.logo-small{
	color: #f4511e;
	font-size: 50px;
}
.logo-company{
	color: #f4511e;
	font-size: 150px;
}

.carousel-item{
	height: 100vh;
}
.carousel-caption{
	margin-bottom: 200px;
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.carousel-caption h2{
	color: #120d2e;
	font-size: 3em;
	opacity: 1.0;
	animation-name: bounceInUp;
	animation-duration: 1.5s;
}
.carousel-caption p{
	color: #01099e;
	font-size: 1.3em;
	opacity:1.0;
	animation-name: zoomInRight;
	animation-duration: 2s;
}
.card-header{
	background: white;
	border: none;
}
.card-header .btn:not(:disabled):not(.disabled){
	width: 100%;
	font-size: 20px;
}
.card-header .btn:not(:disabled):not(.disabled):hover{
	background: #ccc;
	opacity: 0.9;
	box-shadow: 5px 10px #888888;
	color: azure;
}
@media screen and (max-width: 600px) {
	
	.carousel-caption p{
		display: none;
	}
	.carousel-caption h2{
		display: none;
	}
	.carousel-indicators{
		display: none;
	}
	.carousel-control-prev, .carousel-control-next {
		display: none;
	  }
	  .logo-company{
		  padding: 10px;
		  font-size: 100px;
		  text-align: center;
	  }
	  .container-fluid{
		  display: block;
		  text-align: center;
	  }
	  .carousel-inner img{
		width: 100%;
		height: auto;
 	 }
 
  }
  .unique{
	  background-image: url("../images/speaker.jpg");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  color: darkred;
	}
	.card{
		border: none;
	}



